*{
    margin: 0;
    padding: 0;
}

#container {
    width: 100vw;
    display: flex;
    justify-content: center;
}

#input_container {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    margin-bottom: 1.5vh;
}

#grid_container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
    width: 40vw;
    background-color: black;
    padding: 10px;
}

.btn {
    background: none;
    border: 1.5px solid black;
    height: 100px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bolder;
    background-color: red;
    border-radius: 10px;
    color: white;
}

#result {
    border: none;
    border-bottom: 1px solid black;
    width: 40vw;
    height: 10vh;
    font-size: 20px;
    text-align: end;
}